# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Spyder project settings
.spyproject

# Python template
__pycache__/

# Self generated sqlite3 db file
*.db
*.csv

# MacOS temp file
*.DS_Store

# logger log
jibberjabber.log

# secrets
local_secrets.py

*.png
