APScheduler==3.7.0
asgiref==3.3.1
backports.functools-lru-cache==1.6.1
baostock==0.8.8
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.6
djangorestframework==3.12.2
idna==2.10
numpy==1.20.1
pandas==1.2.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
tzlocal==2.1
urllib3==1.26.3
dtw-python==1.1.12
